.wagle-header {
  width: 1160px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-sizing: border-box;
  padding-top: 40px;
}

.wagle-main-title {
  font-size: 32px;
  font-weight: 800;
  color: #222;
  margin-bottom: 0;
  line-height: 1.2;
  letter-spacing: -1px;
  border-bottom: 2px solid #222;
  padding-bottom: 8px;
  width: fit-content;
  display: inline-block;
}

.wagle-sub-title {
  font-size: 14px;
  color: #999999;
  font-weight: 400;
  margin-top: 12px;
  margin-bottom: 0;
}

.wagle-location {
  display: flex;
  align-items: center;
  font-size: 15px;
  color: #888;
  gap: 4px;
  margin-top: 33px;
  margin-bottom: 0;
}

.wagle-location-home {
  color: #888;
  font-weight: 500;
}

.wagle-location-arrow {
  font-size: 0.9em;
  margin: 0 2px;
}

.wagle-location-current {
  color: #3266cc;
  font-weight: 600;
}

.wagle-location-link {
  cursor: pointer;
  text-decoration: underline;
  text-underline-offset: 2px;
  transition: color 0.2s;
}
.wagle-location-link:hover {
  color: #222;
}
