option_settings:
  # Java 플랫폼 설정
  aws:elasticbeanstalk:container:java:
    JvmOptions: "-Xmx512m -Xms256m"
    
  # 환경 변수 설정
  aws:elasticbeanstalk:application:environment:
    SPRING_PROFILES_ACTIVE: "prod"
    SERVER_PORT: "5000"
    
  # 프록시 서버 설정
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: static
    
  # 로드밸런서 설정
  aws:elasticbeanstalk:environment:
    LoadBalancerType: application
    
  # 애플리케이션 로드밸런서 리스너 설정
  aws:elbv2:listener:80:
    DefaultProcess: default
    ListenerEnabled: 'true'
    Protocol: HTTP
    
  # 프로세스 설정
  aws:elasticbeanstalk:environment:process:default:
    HealthCheckPath: /
    Port: '5000'
    Protocol: HTTP 