<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.project.festive.festiveserver.admin.model.mapper.AdminMapper">

	
	<!-- 관리자 이메일 중복 검사 -->
	<select id="checkEmail">
		SELECT COUNT(*) FROM "MEMBER"
		WHERE EMAIL = #{email}
	</select>
	
	<insert id="createAdminAccount">
   INSERT INTO "MEMBER" (
    MEMBER_NO,
    ID,
    NAME,
    NICKNAME,
    EMAIL,
    PASSWORD,
    ROLE,
    ENROLL_DATE,
    MEMBER_DEL_FL,
    SANCTION_COUNT
  ) VALUES (
    SEQ_MEMBER_NO.NEXTVAL,
    #{email},
    #{name},
    #{name},
    #{email},
    #{password},
    'ADMIN',
    SYSDATE,
    'N',
    0
  )
</insert>

	
</mapper>