<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper
	namespace="com.project.festive.festiveserver.myPage.model.mapper.MyPageMapper">

	<!-- 회원의 비밀번호 조회 -->
	<select id="selectPw">
		SELECT PASSWORD
		FROM "MEMBER"
		WHERE MEMBER_NO =
		#{memberNo}
	</select>

	<!-- 회원 비밀번호 변경 -->
	<update id="changePw">
		UPDATE "MEMBER" SET
		PASSWORD = #{newEncodedPw}
		WHERE
		MEMBER_NO = #{memberNo}
	</update>

	<!-- 회원 탈퇴 -->
	<update id="withdrawal">
		UPDATE "MEMBER" SET
		MEMBER_DEL_FL = 'Y',
		WITHDRAW_DATE = SYSDATE
		WHERE MEMBER_NO = #{memberNo}
	</update>
	
	<!-- 기본 이미지로 변경 -->
	<update id="resetProfileImage">
        UPDATE MEMBER
        SET PROFILE_IMAGE = ''
        WHERE MEMBER_NO = #{memberNo}
    </update>


	<!-- 내가 작성한 게시글 조회 -->
	<select id="selectMyPosts">

		SELECT
		b.BOARD_NO as boardNo,
		b.BOARD_TITLE as
		boardTitle,
		m.NICKNAME as memberNickname,
		b.BOARD_CREAT_DATE as
		boardCreateDate,
		b.READ_COUNT as boardViewCount,
		COUNT(l.MEMBER_NO) AS
		boardLikeCount
		FROM BOARD b
		JOIN MEMBER m ON b.MEMBER_NO = m.MEMBER_NO
		LEFT JOIN "LIKE" l ON b.BOARD_NO = l.BOARD_NO
		WHERE b.MEMBER_NO =
		#{memberNo}
		AND b.BOARD_DEL_FL = 'N'
		GROUP BY b.BOARD_NO, b.BOARD_TITLE,
		m.NICKNAME, b.BOARD_CREAT_DATE,
		b.READ_COUNT
		ORDER BY b.BOARD_CREAT_DATE
		DESC
	</select>

	<!-- 내가 작성한 댓글 조회 -->
	<select id="selectMyComments">
		SELECT
		c.COMMENT_NO,
		c.COMMENT_CONTENT,
		c.COMMENT_WRITE_DATE as commentCreateDate,
		c.BOARD_NO,
		m.NICKNAME as
		memberNickname,
		COALESCE(cl_agg.LIKE_COUNT, 0) AS likes
		FROM "COMMENT" c
		JOIN MEMBER m ON c.MEMBER_NO = m.MEMBER_NO
		LEFT JOIN (
		SELECT
		COMMENT_NO,
		COUNT(MEMBER_NO) AS LIKE_COUNT
		FROM "COMMENT_LIKE"
		GROUP BY
		COMMENT_NO
		) cl_agg ON c.COMMENT_NO = cl_agg.COMMENT_NO
		WHERE
		c.MEMBER_NO = #{memberNo}
		AND c.COMMENT_DEL_FL = 'N'
		ORDER BY
		c.COMMENT_WRITE_DATE DESC
	</select>

	<!-- 회원 정보 조회 -->
	<select id="selectMyInfo"
		resultType="com.project.festive.festiveserver.member.dto.MemberDto">
		SELECT MEMBER_NO,
		TEL AS tel, EMAIL AS email, ADDRESS AS
		address
		FROM MEMBER
		WHERE MEMBER_NO = #{memberNo}
	</select>

	<!-- 회원 정보 수정 -->
	<update id="updateMyInfo">
		UPDATE MEMBER
		SET
		TEL = #{tel}, EMAIL = #{email},
		ADDRESS = #{address}
		WHERE MEMBER_NO = #{memberNo}
	</update>

	<!-- 내 프로필 정보 조회 -->
	<select id="selectProfileInfo"
		resultType="com.project.festive.festiveserver.member.dto.MemberDto">
		SELECT MEMBER_NO, NAME, NICKNAME, PROFILE_IMAGE AS
		profileImage
		FROM MEMBER
		WHERE MEMBER_NO = #{memberNo}
	</select>

	<!-- 나를 제외한 닉네임 중복 확인 -->
	<select id="countByNicknameExcludeSelf" resultType="int">
		SELECT
		COUNT(*)
		FROM MEMBER
		WHERE NICKNAME = #{nickname}
		AND MEMBER_NO !=
		#{memberNo}
	</select>

	<!-- 프로필 정보 수정 -->
	<update id="updateProfile">
		UPDATE MEMBER
		<set>
			<if test="nickname != null and nickname != ''">
				NICKNAME = #{nickname},
			</if>
			<if test="profileImagePath != null">
				PROFILE_IMAGE = #{profileImagePath},
			</if>
		</set>
		WHERE MEMBER_NO = #{memberNo}
	</update>

	<select id="selectContentIdsByMemberNo">
		SELECT
		CONTENT_ID
		FROM
		FAVORITES
		WHERE
		MEMBER_NO = #{memberNo}
	</select>

	<delete id="deleteFavorite">
		DELETE FROM
		FAVORITES
		WHERE
		MEMBER_NO = #{memberNo} AND CONTENT_ID = #{contentId}
	</delete>

</mapper>