body {
  background: #fff;
}

.wagle-page-container {
  width: 100%;
  min-height: 100vh;
  background: #fff;
  padding-bottom: 40px;
  margin-top: 40px;
}

.wagle-divider {
  width: 1160px;
  height: 2px;
  background: #e3e3e3;
  margin: 52px auto 0 auto;
  border-radius: 2px;
}
